!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
  %body
    %p Thank you for registering for the PAL MAC 2013 volleyball season. Your application is being reviewed and you will be contacted by the league coordinator.
    
    %p Registration number: #{@registration.number}
    %p Player name: #{@registration.player_name}
