%fieldset
  %legend PAL Agreement
  %p By submitting this form you are entering an agreement with the POLICE ACTIVITIES LEAGUE, First Party, and the parents, Second Party (Parents), of the child, a MINOR.
  .row-field
    .span6
      = f.input :parent_name_for_agreement, :label => 'Name of Parent Entering Agreement:', :input_html => {:class => 'input-block-level'}