%fieldset
  %legend FEES
  .row
    .span10
      %p 
        The Police Activities League (PAL) 
        %span.underline no longer charges any fees
        for a child to participate in any of our activities. However, each individual team may require your child to pay a team registration fee to cover the team’s expenses such as pictures, uniforms, banquet, trophies, etc. In that case, you should be able to obtain a complete and detailed breakdown of the team’s funds expenditures from your child’s coach.
        %br
        %span HPD-18 (Revised 11-03)