%fieldset
  %legend Registration Instructions
  %ul 
    %li Complete the form
    %li Fields marked with a * (asterick) are required
    %li A valid email address is required. You will be emailed a registration confirmation number after you submit this form