%fieldset
  %legend PAYMENT
  %p
    If your child is selected, payment will be made via check to 
    %em.underline Moanalua Athletic Club (volleyball)
    for $50.00. Payment must be made by ___________ or your child will be taken off the list.