%fieldset
  %legend PAYMENT
  %p
    If your child is selected, payment must be made by check or money order made payable to MAC for $50. Payment must be made by 3/1/2016 or your child will be taken off the list.