%fieldset
  %legend SCREENING
  %p All applications will be prioritized based on the following criteria:
  %ol
    %li Head coaches child/children
    %li 
      Those living in the Moanalua Elementary/Middle School district -
      %em proof of residency required.
    %li Players attending Moanalua Elementary or Middle School on a district exception.
  %p We are hopeful to place all prospective players, but cannot assure based on amount of courts and head coaches available.