%fieldset
  %legend SCREENING
  %p All applications will be prioritized based on the following criteria:
  %ol
    %li head coaches child/children
    %li those living in the Moanalua Elementary/Middle School district- proof of residency required.
    %li players attending Moanalua Elementary or Middle School on a district exception.
  %p We are hopeful to place all prospective players, but cannot assure based on amount of courts and head coaches available.