<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Player First Name</Data></Cell>
        <Cell><Data ss:Type="String">Player Last Name</Data></Cell>
      </Row>
    <% @registrations.each do |registration| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= registration.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= registration.player_first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= registration.player_last_name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>