%header.jumbotron Hello World
%p.pagination-centered Police Activities League Membership Application
%p.pagination-centered
  Moanalua Athletic Club 2013 #{@registration.activity} Registration
= render 'form'