%h3 Moanalua Athletic Club (MAC) Volleyball Information

%p.lead
  The PAL MAC 2013 volleyball season is coming up soon.

%ul
  %li.lead Registration is open to children between the ages of 4 and 12 (Grades K-6)
  %li.lead The season starts in January and will run for 10 weeks

%p.lead
  If your child is interested in playing volleyball for PAL MAC register today

=link_to 'Register Now!', new_registration_url, class: 'btn btn-large btn-primary'
