%h3 Moanalua Athletic Club (MAC) 2015 Volleyball Information
%p
  Online Registration period is 1/5/2015 - 2/2/2015
  %strong.text-error ABSOLUTELY NO LATE REGISTRATIONS

%h4 Registration ages are as follows:
%ol
  %li Pinto (4/30/2008 - 5/1/2006)
  %li Mustang (4/30/2006 - 5/1/2004)
  %li Bronco (4/30/2004 - 5/1/2001)

%h4 Priority for selection are as follows:
%ol
  %li Head coaches child(ren)
  %li
    Players living in the Moanalua Elementary district
    %em (proof of residency required which needs to be a utility bill addressed to legal guardian of player)
  %li
    Players who have obtained a Geographic Exception to Moanalua Elementary or Middle School
    %em (player's school schedule acceptable)
  %li All other players
  %li Players who are requesting specific days of practice and are not a head coaches child

%h4 Notification:
%p If accepted, you will be sent an email with instructions.  Please follow and submit prior to deadline or acceptance into the league will be terminated.

%p
  Contact
  = mail_to "palmoanalua@gmail.com", nil, :subject => "MAC Volleyball Question"
  %i.icon-envelope
  for questions or assistance

.alert.alert-warning
  =link_to 'Register Now!', new_registration_url, class: 'btn btn-large btn-primary'
